body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eee;
    height: auto;
}
h1{
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 2rem;
}
h2{
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
}
img{
    display: block;
    width: 100%;
}
.btn{
    transition: background 500ms ease;
    text-decoration: none;
    padding: 0.5rem 2rem;
    margin: 2rem 0 ;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -ms-transition: background 500ms ease;
    -o-transition: background 500ms ease;
}
.btn a{
    text-decoration: none;
    color: #333;
}
main{
    max-width: 900px;
    margin: auto;
 box-shadow: 30px 0 40px 0 rgba(0, 0, 0, 0.1), -30px 0 40px 0 rgba(0, 0, 0, 0.1);
}
#landing{
    background: #Fff;
}
#landing-txt{
    display: flex;
    flex-direction: column;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1;
}
#landing-txt h2{
    color: #888;
}
#landing-image {
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
  }
  .btn:hover{
      background-color: #f4f4f4
  }
#header{
    background: #333;
    color: #Fff;
    padding: 1.5rem;
    text-align: center;
}
#header h2{
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    display: inline-block;
    padding:0 1rem;
}
.caption{
    text-align: center;
    padding: 0.8rem;
}
footer{
    text-align: center;
    color: #333;
    margin: auto;
    padding: 2rem 1rem;
}
footer h1{
    font-size: 3rem;
    margin-bottom: 0;
}

@media(min-width:600px){
    #landing{
        display: flex;
        height: 100vh;
    }
    #landing-txt{
        height: 100vh;
    }
    #landing-image{
        height: 100vh;
    }
}
@media(min-width: 700px){
    .btn{
        padding: 1rem 3rem;
    }
}